<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                </tr>
            </tbody>
        </table>
            <h2 class="A1">Diff</h2>
            <table>
                <!-- <thead>
                    <tr>
                        <th>File Type</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr v-for="diff in file">
                        <td>{{diff.FileType}}</td>
                        <td style="background-color: skyblue;">{{diff.FileType * 32}}</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Magic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="diff in key">
                        <td>{{diff.key}}</td>
                    </tr>
                </tbody>
            </table>
            
    </div>
    <script src="./vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>